BASE_IMAGE=192.168.3.13:5000/dexsdk:ubuntu22.04-cuda12.8.0-h5ffmpeg-v3
DEXCHAIN_IMAGE=dexchain:0.1.6
DEXCHAIN_CONTAINER_NAME=dexchain

DEXECHAIN_VERSION=0.1.6
EMBODICHAIN_VERSION=0.2.4

OPEN3DV_INDEX_URL=http://pyp.open3dv.site:2345/simple/
DEXFORCE_INDEX_URL=http://192.168.3.43:8080/simple/

NVIDIA_CDI_DEVICE=nvidia.com/gpu=0
DISPLAY=:0
